* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
   }

   header {
    padding-top: 38px;
    margin-bottom: 120px;
    height: calc(120px + 32px);
    
   
   }

   header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 100%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
    
 }

 header div:hover {
      transform: scale(1.2);
 }

   header div img {
    width: 100%;
    border-radius: 95%;  
   }